.RatesList {
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  padding: 15px 30px 50px;
}

.RatesList__list {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -15px;
  position: relative;
}

.RatesList__list:before {
  content: '';
  position: absolute;
  top: 0;
  left: calc(50% - 0.5px);
  height: 100%;
  width: 1px;
  background: #EAEAEA;
}

.RatesList__list-item {
  width: 50%;
  padding: 0 15px;
  margin-top: -1px;
}

.RatesList__search {
  margin-bottom: 15px;
}

.RatesList__search-field {
  border: 0;
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 18px;
  font-family: var(--base-ff);
}

.RatesList__search-field::-webkit-input-placeholder { color: var(--color-gray); transition: opacity .3s ease-in-out; opacity: 1; }
.RatesList__search-field::-moz-placeholder { color: var(--color-gray); transition: opacity .3s ease-in-out; opacity: 1; }
.RatesList__search-field:-ms-input-placeholder { color: var(--color-gray); transition: opacity .3s ease-in-out; opacity: 1; }
.RatesList__search-field:-moz-placeholder { color: var(--color-gray); transition: opacity .3s ease-in-out; opacity: 1; }
.RatesList__search-field:focus::-webkit-input-placeholder { opacity: 0; }
.RatesList__search-field:focus::-moz-placeholder { opacity: 0; }
.RatesList__search-field:focus:-ms-input-placeholder { opacity: 0; }
.RatesList__search-field:focus:-moz-placeholder { opacity: 0; }