.CurrencyPicker__label {
  color: var(--color-gray);
  font-size: 0.938em;
  line-height: normal;
  text-align: right;
  font-weight: 500;
}

.CurrencyPicker__name {
  text-align: right;
  margin-top: 6px;
  display: flex;
  align-items: center;
}

.CurrencyPicker__name-text {
  margin-right: 5px;
  font-size: 1.125em;
  line-height: normal;
}

.CurrencyPicker__name-flag {
  font-size: 1.500em;
  margin-bottom: -4px;
}