@import "reset.css";
@import "fonts.css";
@import "variables.css";
@import "grid.css";

*,
*:before,
*:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--base-bg-color);
  font-family: var(--base-ff);
  font-size: var(--base-fz);
  font-weight: normal;
  font-style: normal;
  color: var(--base-font-color);
  -webkit-font-smoothing: antialiased;
}